.App {
  text-align: center;
}

.App-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 5rem;
}

.header {
  display: flex;
  margin-bottom: 50px;
  top: 0;
  position: fixed;
  width: 100%;
}

.header a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
}

.header a:hover {
  text-decoration: underline;
}

.Form .error {
  color: #aa0f11;
  font-weight: 600;
  font-size: 18px;
}

.table{
  margin-top: 2rem;
}